USE [master]
GO
/****** Object:  Database [TRANSPORTE]    Script Date: 6/11/2024 16:32:41 ******/
CREATE DATABASE [TRANSPORTE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRANSPORTE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TRANSPORTE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TRANSPORTE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TRANSPORTE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRANSPORTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRANSPORTE]
GO
/****** Object:  Table [dbo].[CARRO]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRO](
	[id_carro] [int] IDENTITY(1,1) NOT NULL,
	[placa] [varchar](10) NOT NULL,
	[id_mant] [int] NULL,
	[id_estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDUCTORES]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDUCTORES](
	[id_cond] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](100) NULL,
	[dni] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cond] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_CARRO]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_CARRO](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_MANTENIMIENTO]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_MANTENIMIENTO](
	[id_mantEstado] [int] NOT NULL,
	[descripción] [nchar](10) NULL,
 CONSTRAINT [PK_ESTADO_MANTENIMIENTO] PRIMARY KEY CLUSTERED 
(
	[id_mantEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INCIDENTE]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCIDENTE](
	[id_incidente] [int] IDENTITY(1,1) NOT NULL,
	[id_prog] [int] NULL,
	[fecha] [date] NOT NULL,
	[descripcion] [varchar](255) NULL,
	[id_tipo] [int] NULL,
 CONSTRAINT [PK__INCIDENT__7DD868DCDBBD5F66] PRIMARY KEY CLUSTERED 
(
	[id_incidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANTENIMIENTO]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANTENIMIENTO](
	[id_mant] [int] IDENTITY(1,1) NOT NULL,
	[id_mantEstado] [int] NULL,
	[f_mantenimiento] [varchar](50) NULL,
	[id_emp] [int] NULL,
	[costo] [decimal](10, 2) NULL,
 CONSTRAINT [PK__MANTENIM__707E5D1686F608C4] PRIMARY KEY CLUSTERED 
(
	[id_mant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAMACION]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMACION](
	[id_prog] [int] IDENTITY(1,1) NOT NULL,
	[id_carro] [int] NOT NULL,
	[id_ruta] [int] NOT NULL,
	[id_cond] [int] NOT NULL,
 CONSTRAINT [PK_PROGRAMACION] PRIMARY KEY CLUSTERED 
(
	[id_prog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPARACIONES]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARACIONES](
	[id_rep] [int] IDENTITY(1,1) NOT NULL,
	[id_incidente] [int] NULL,
	[calificacion] [decimal](3, 2) NULL,
	[fecha_entrada] [date] NULL,
	[fecha_salida] [date] NULL,
	[id_emp] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTA]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTA](
	[id_ruta] [int] IDENTITY(1,1) NOT NULL,
	[origen] [varchar](100) NULL,
	[destino] [varchar](100) NULL,
	[distancia] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TALLER]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TALLER](
	[id_emp] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[direccion] [varchar](255) NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_emp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_INCIDENTE]    Script Date: 6/11/2024 16:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_INCIDENTE](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARRO]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[ESTADO_CARRO] ([id_estado])
GO
ALTER TABLE [dbo].[CARRO]  WITH CHECK ADD  CONSTRAINT [FK__CARRO__id_manten__4222D4EF] FOREIGN KEY([id_mant])
REFERENCES [dbo].[MANTENIMIENTO] ([id_mant])
GO
ALTER TABLE [dbo].[CARRO] CHECK CONSTRAINT [FK__CARRO__id_manten__4222D4EF]
GO
ALTER TABLE [dbo].[INCIDENTE]  WITH CHECK ADD  CONSTRAINT [FK__INCIDENTE__id_ti__4AB81AF0] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[TIPO_INCIDENTE] ([id_tipo])
GO
ALTER TABLE [dbo].[INCIDENTE] CHECK CONSTRAINT [FK__INCIDENTE__id_ti__4AB81AF0]
GO
ALTER TABLE [dbo].[INCIDENTE]  WITH CHECK ADD  CONSTRAINT [FK_INCIDENTE_PROGRAMACION] FOREIGN KEY([id_prog])
REFERENCES [dbo].[PROGRAMACION] ([id_prog])
GO
ALTER TABLE [dbo].[INCIDENTE] CHECK CONSTRAINT [FK_INCIDENTE_PROGRAMACION]
GO
ALTER TABLE [dbo].[MANTENIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MANTENIMIENTO_ESTADO_MANTENIMIENTO] FOREIGN KEY([id_mantEstado])
REFERENCES [dbo].[ESTADO_MANTENIMIENTO] ([id_mantEstado])
GO
ALTER TABLE [dbo].[MANTENIMIENTO] CHECK CONSTRAINT [FK_MANTENIMIENTO_ESTADO_MANTENIMIENTO]
GO
ALTER TABLE [dbo].[PROGRAMACION]  WITH CHECK ADD  CONSTRAINT [FK_PROGRAMACION_CARRO] FOREIGN KEY([id_carro])
REFERENCES [dbo].[CARRO] ([id_carro])
GO
ALTER TABLE [dbo].[PROGRAMACION] CHECK CONSTRAINT [FK_PROGRAMACION_CARRO]
GO
ALTER TABLE [dbo].[PROGRAMACION]  WITH CHECK ADD  CONSTRAINT [FK_PROGRAMACION_CONDUCTORES] FOREIGN KEY([id_cond])
REFERENCES [dbo].[CONDUCTORES] ([id_cond])
GO
ALTER TABLE [dbo].[PROGRAMACION] CHECK CONSTRAINT [FK_PROGRAMACION_CONDUCTORES]
GO
ALTER TABLE [dbo].[PROGRAMACION]  WITH CHECK ADD  CONSTRAINT [FK_PROGRAMACION_RUTA] FOREIGN KEY([id_ruta])
REFERENCES [dbo].[RUTA] ([id_ruta])
GO
ALTER TABLE [dbo].[PROGRAMACION] CHECK CONSTRAINT [FK_PROGRAMACION_RUTA]
GO
ALTER TABLE [dbo].[REPARACIONES]  WITH CHECK ADD FOREIGN KEY([id_emp])
REFERENCES [dbo].[TALLER] ([id_emp])
GO
ALTER TABLE [dbo].[REPARACIONES]  WITH CHECK ADD  CONSTRAINT [FK__REPARACIO__id_in__5070F446] FOREIGN KEY([id_incidente])
REFERENCES [dbo].[INCIDENTE] ([id_incidente])
GO
ALTER TABLE [dbo].[REPARACIONES] CHECK CONSTRAINT [FK__REPARACIO__id_in__5070F446]
GO
USE [master]
GO
