@font-face {
    font-family: 'RiotSquad';
    src: url('path/to/RiotSquad.ttf') format('truetype');
}

@font-face {
    font-family: 'Modern No. 20';
    src: url('path/to/ModernNo20.ttf') format('truetype');
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

.container {
    width: 90%;
    max-width: 350px;
    padding: 20px;
    background: #ffffff;
    color: #333333;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #6a11cb;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
}

label {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin: 10px 0 5px;
    color: #333333;
    width: 100%;
    text-align: left; /* Cambiar a alineado a la izquierda */
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #0000ff;
    background: none;
    text-align: left;
}

input::placeholder, textarea::placeholder {
    color: #0000ff;
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
    text-align: center;
    align-self: center;
}

button:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#mensaje {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.regresar-btn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
    text-align: center;
    align-self: center;
}

