body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Mantener el fondo actual */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #ffffff;
    color: #333333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 400px; /* Ajustado para ser más cuadrado */
    height: 500px; /* Ajustado para dar más espacio */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.login-header {
    margin-bottom: 5px; /* Reducir margen inferior */
}

.login-header h2 {
    font-size: 52px; /* Tamaño de letra ajustado */
    font-family: 'Times New Roman', sans-serif; /* Usar la fuente RiotSquad */
    color: #6a11cb;
    margin-top: 20px; /* Aumentar espacio superior */
    font-weight: normal; /* Quitar negrita */
}

.login-header .sub-header {
    font-size: 24px; /* Tamaño de letra más grande */
    font-family: 'Playfair Display', serif; /* Usar la fuente Modern No. 20 o similar */
    color: #6a11cb; /* Mantener el color */
    margin-top: -10px; /* Reducir margen superior */
}

.form-group {
    margin-bottom: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
    width: 100%;
    text-align: left;
}

.form-group input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    color: #0000ff; /* Azul claro */
    background: none;
    text-align: left; /* Texto alineado a la izquierda */
}

.form-group input::placeholder {
    color: #0000ff; /* Azul claro */
}

.btn {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
}

.footer {
    display: none; /* Ocultar el pie de página */
}
