body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Mantener el fondo actual */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #ffffff;
    color: #333333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 400px; /* Ajustado para ser más cuadrado */
    height: 450px; /* Ajustado para ser más cuadrado */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-header h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #6a11cb;
}

.login-header p {
    font-size: 16px;
    color: #555555;
}

.form-group {
    margin-bottom: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
    width: 100%;
    text-align: left;
}

.form-group input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    color: #0000ff; /* Azul claro */
    background: none;
    text-align: left; /* Texto alineado a la izquierda */
}

.form-group input::placeholder {
    color: #0000ff; /* Azul claro */
}

.btn {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
}

.footer {
    display: none; /* Ocultar el pie de página */
}
